.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.menu-icon {
  display: inline-flex;
  transition: transform 0.5s ease, opacity 0.2s ease;
}

.menu-icon.open {
  transform: rotate(180deg) scale(1.1);
}

.mobile-menu {
  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.mobile-menu.open {
  transform: translateX(0);
}
